
/* App Window */
@define-color bg_color rgba(31, 31, 40, 0.95);
@define-color window_bg @bg_color;
@define-color window_border_color #7e9cd8;
@define-color prefs_backgroud rgba(0,0,0, 0);

/* Input */
@define-color selected_bg_color #938aa9;
@define-color selected_fg_color #dcd7ba;
@define-color input_color #dcd7ba;
@define-color caret_color darker(@input_color);

/* Result items */
@define-color item_name #727169;
@define-color item_text #727169;
@define-color item_box_selected #938aa9;
@define-color item_text_selected #e6c384;
@define-color item_name_selected #e6c384; 
@define-color item_shortcut_color #6a9589;
@define-color item_shortcut_shadow rgba(0,0,0, 0.00);
@define-color item_shortcut_color_sel #1f1f28;
@define-color item_shortcut_shadow_sel darker(@item_box_selected);

.app {
    background-color: @window_bg;
    border: 2px solid @window_border_color;
    border-radius: 10px;
    box-shadow: none;
    padding-left: 10px;
    padding-right: 10px;
}

.input {
    color: @input_color;
    padding: 0;
}

.item-box {
    border-radius: 10px;
}

/**
 * Selected text in input
 */
.input *:selected,
.input *:focus,
*:selected:focus {
  background-color: alpha (@selected_bg_color, 0.4);
  color: @selected_fg_color;
}

.item-text {
  color: @item_text;
}
.item-name {
  color: @item_name;
}

.selected.item-box {
  background-color: alpha (@item_box_selected, 0.4);
  border-radius: 10px;
}
.selected.item-box .item-text {
  color: @item_text_selected;
}
.selected.item-box .item-name {
  color: @item_name_selected;
}
.item-shortcut {
  color: @item_shortcut_color;
  text-shadow: none;
}
.selected.item-box .item-shortcut {
  color: @item_shortcut_color_sel;
  text-shadow: none;
}

.prefs-btn {
  opacity: 1;
}
.prefs-btn:hover {
  background-color: @prefs_backgroud;
}
